.header {
    width: 100%;

    // .header__logo
    &__logo {
        width: 80px;
        height: 40px;
        background: center / contain no-repeat url('../img/logo.png');
        text-indent: -10000px;
        color: transparent;

        @media (min-width: $breakpoint-medium) {
            width: 180px;
            height: 48px;
        }
    }

    // .header__nav
    &__nav {
        position: relative;
        font-family: $catalana;
        font-weight: 500;

        // reset dropdown styling
        ul {
            display: block !important;
            position: relative;
            padding: 0;
            
            li {
                display: inline-block;
    
                a:not(.button) {
                    color: $header-link-text-color;
                    display: block;
                    font-size: 18px;
                    position: relative;

                    &:after {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 3px;
                        background-color: $color-white;
                        bottom: 0;
                        left: 0;
                        transform: translateY(3px);
                        opacity: 0;
                        user-select: none;
                    }

                    &:hover:after {
                        transform: translateY(9px);
                        opacity: 1;
                    }
                }

                &.nav__item--active {
                    a:after {
                        background-color: $color-gold;
                        transform: translateY(9px);
                        opacity: 1;
                    }
                }

                .button {
                    min-width: 146px;
                }
            }
        }
    }
}
