*, *:before, *:after {
	box-sizing: border-box;
	transition: all .17s ease-in-out;
}

::selection {
	color: white;
	background-color: rgba($color-gold, 0.6);
}

html,
body {
	margin: 0;
	position: relative;
	overflow-x: hidden;
}

a {
	text-decoration: inherit;
	color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-size: inherit;
	font-weight: inherit;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

// Responsive images
img {
	display: inline-block;
	border: 0;
	max-width: 100%;
	vertical-align: middle;
	user-select: none;
	-webkit-user-drag: none;
}

figure {
	margin: 0;
}

span {
	display: inline-block;
}


button {
	margin: 0;
}

hr {
	border: 0 none;
	height: 1px;
	background: $hr-bg-color;
}